<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Website</title>
    <link rel="stylesheet" href="about.css">
    <link rel="short icon" href="image/short_icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>


    <!--Navigation Bar-->

    <nav>

        <div class="logo">
            <a href="index.html"><img src="image/logo1.avif"></a>
        </div>

        <ul>
            <li><a href="index.html" class="action">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="blog.html">Blog</a></li>
        </ul>

        <div class="login">
            <a href="login.html">Login</a>
        </div>

    </nav>




    <!--Banner-->

    <div class="banner_bg">

        <h1><span>About</span>Us</h1>

    </div>




    <!--About-->

    <div class="about anim">

        <div class="about_main">

            <div class="about_image">
                <img src="image/about.png">
            </div>

            <div class="about_text">

                <h3>why food choose us?</h3>
                <p>
                       Goodlnck Cafe in more of the most popokar irnui cafe in pune.
                    Maharashtra India Popular among the celebrities student and the
                    local people of Pune Cafe Goodlock it is quite commen to see a 
                    father and a son grandon three generations sitting on the same 
                    table and enjoying the delicacy which has the saame thought all 
                    those years.One of the irani Cafe In Pune
                      The irani cuisine is quite famous among the Mumbaikar and Punekar.
                    The items like bou maska, coldcoffe, veg puff, soft slice of tread 
                    are only a few of the deside which the peoplistes in Puie I Love 
                    have in the breakfast goodluck cafe. Good Luck wasa established in
                    1935 by Human Ali Yakshi. It is one of the most famous place among 
                    the youngsters in Pune. You cannot only find breakfast items but
                    you can also order delocious des
                        The was of the cafe is nothing else bur a wooden door that is 
                    coveredd with the Coca-cola branding and the red color which gives 
                    it a unique look. Not only the food you can find here is historical 
                    and deliccions, the ambinance of this cafe has beem kept the same 
                    throught all these years. When you look at it form the outside it 
                    will look like an old cafe.
                </p>

                <div class="about_services">

                    <div class="s_1">
                        <i class="fa-solid fa-truck-fast"></i>
                        <a href="#">Fast Delivery</a>
                    </div>

                    <div class="s_1">
                        <i class="fa-brands fa-amazon-pay"></i>
                        <a href="#">Easy Payment</a>
                    </div>

                    <div class="s_1">
                        <i class="fa-solid fa-headset"></i>
                        <a href="#">24 x 7 Services</a>
                    </div>

                </div>

                <a href="#" class="about_btn"><i class="fa-solid fa-burger"></i>Order Now</a>

            </div>

        </div>

    </div>



    <!--Footer-->

    <footer>

        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>Sri Lanka</p>
                <p>USA</p>
                <p>India</p>
                <p>Japan</p>
                <p>Italy</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <p>Home</p>
                <p>About</p>
                <p>Menu</p>
                <p>Gallery</p>
                <p>Blog</p>
            </div>

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+94 12 3456 789</p>
                <p>+94 25 5568 456</p>
                <p>johndeo123@gmail.com</p>
                <p>foodshop123@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Our Services</h2>
                <p>Fast Delivery</p>
                <p>Easy Payment</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

        <p class="end">Design by<span><i class="fa-solid fa-face-grin"></i> WT Master Code</span></p>

    </footer>
    
</body>
</html>